In [2]:
def add_1(n):
    return n+1
add_1(1)

2

In [3]:
def add_20(n):
    return n+20
add_20(1)

21

In [1]:
def make_adder(k):
    def adder(n):
        return n+k
    return adder

In [4]:
three= make_adder(3)
three(3)

6

In [6]:
three(1)

4

In [7]:
three(5)

8

In [8]:
five= make_adder(5)
five(10)

15

In [9]:
adder= make_adder(5)
adder(5)

10

In [10]:
print("Hello")

Hello

In [11]:
print("10")

10

In [12]:
my_print= print
my_print

In [13]:
print("Hello")

Hello

In [14]:
my_print("Hello")

Hello

In [15]:
from math import pi,sqrt
from operator import mul

def area_square(r):
    """return the area of a square with a side length R"""
    return r*r
def area_circle(r):
    """REturn the area of a circle with readius R"""
    return r*r*pi

In [16]:
pi

3.141592653589793

In [17]:
area_square(2)

4

In [18]:
area_circle(5)

78.53981633974483

In [19]:
def area_hexagon(r):
    """Return the area of a regular hexagon with side length R"""
    return r*r*3*sqrt(3)/2

In [20]:
area_hexagon(4)

41.569219381653056

In [21]:
def area(r,shape_constant):
    return r*r*shape_constant

In [22]:
area(2,1)

4

In [23]:
def area_square(r):
    return area(r,1)
def area_circle(r):
    return area(r,pi)

In [24]:
area_circle(4)

50.26548245743669

In [25]:
def sum_numbers(n):
    """Sum the first N natural numbers"""
    total,k= 0,1
    while k<=n:
        total+=k
        k+=1
    return total

In [26]:
sum_numbers(5)

15

In [27]:
1**3+2**3+3**3

36

In [28]:
pow

In [29]:
pow(2,4)

16

In [30]:
def sum_cubes(n):
    total,k=0,1
    while k<=n:
        total,k= total+pow(k,3),k+1
    return total

In [31]:
sum_cubes(2)

9

In [32]:
sum_cubes(3)

36

In [33]:
def summation(n,term):
    """Sum the first N terms of a sequence"""
    total,k=0,1
    while k<=n:
        total= total+term(k)
        k=k+1
    return total

In [34]:
summation(5,sum_cubes)

371

In [35]:
def identity(k):
    return k

In [36]:
id

In [37]:
summation(5,identity)

15

In [38]:
def cube(k):
    return pow(k,3)

def square(k):
    return k**2

In [39]:
summation(5,cube)

225

In [40]:
def pi_term(k):
    return 8/mul(k*4-3,k*4-1)

In [41]:
pi_term(4)

0.041025641025641026

In [42]:
summation(5,pi_term)

3.041839618929402

In [43]:
summation(200,pi_term)

3.1390926574960107

In [44]:
summation(50000,pi_term)

3.1415826535898224

In [45]:
def pi_error(approx):
    return str((1- summation(approx,pi_term)/pi)*100)+ "%"

In [46]:
pi_error(2)

'7.841709142978703%'

In [47]:
pi_error(10000)

'0.0015915494300577926%'

In [48]:
def add_1(n):
    return n+1

In [49]:
add_1(1)

2

In [50]:
def add_20(n):
    return n+20

In [51]:
add_20(40)

60

In [52]:

"""Python Tutor Example"""
def square(x):
    return x*x
x=3
def make_adder(n):
    def adder(k):
        return k+n
    return adder
add_2= make_adder(2)
add_3= make_adder(3)
x=add_2(x)

def compose(f,g):
    def h(x):
        return f(g(x))
    return h
add_5= compose(add_2,add_3)
y= add_5(x)
z= compose(square,make_adder(2))(3)
z

25

In [53]:
def greet(name):
    print('Hello, ' + name)

hello = greet

def greet(name):
    print('Hi, ' + name)

hello('CS88')

Hello, CS88

In [54]:
def make_adder(n):
    def adder(x):
        return x + n
    return adder

add_2 = make_adder(2)

add_2

In [55]:
def make_adder(n):
    def adder(x):
        return x + n
    return adder

add_2 = make_adder(2)

x = add_2(make_adder(3)(5))
x

10

In [56]:
def make_adder(n):
    def adder(x):
        return x + n
    return adder

add_2 = make_adder(2)

In [57]:
courses= ["CS88","Data8"]
courses

['CS88', 'Data8']

In [58]:
courses[0]

'CS88'

In [59]:
courses[1]

'Data8'

In [60]:
len(courses)

2

In [61]:
courses+=["POLSCI2","PHILR1B"]

In [62]:
courses

['CS88', 'Data8', 'POLSCI2', 'PHILR1B']

In [63]:
len(courses)

4

In [64]:
numbers=[1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

sum(numbers

In [65]:
sum(numbers)

15

In [66]:
min(numbers)

1

In [67]:
type(3.12)

float

In [68]:
courses

['CS88', 'Data8', 'POLSCI2', 'PHILR1B']

In [69]:
numbers

[1, 2, 3, 4, 5]

In [70]:
courses[1]

'Data8'

In [71]:
for item in courses:
    print(item)

CS88
Data8
POLSCI2
PHILR1B

In [72]:
for chicken in courses:
    print(chicken)

CS88
Data8
POLSCI2
PHILR1B

In [73]:
for number in numbers:
    print(number*4)

4
8
12
16
20

In [74]:
range(5,12)

range(5, 12)

In [75]:
range(10)

range(0, 10)

In [76]:
for number in range (10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [77]:
range(len(courses))

range(0, 4)

In [78]:
for number in range(len(courses)):
    print(courses[number])

CS88
Data8
POLSCI2
PHILR1B

In [79]:
for number in range(0,10,2):
    print(number)

0
2
4
6
8

In [80]:
list(range(2,19,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [81]:
list(range(0,100,3))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [82]:
my_list=list(range(0,10))
index=0
while index < len(my_list):
    item=my_list[index]
    index+=1

In [83]:
def make_area_trap(h,b):
    return h*b

In [84]:
make_area_trap(4,4)

16

In [85]:
def square(x):
    return x * x

list(map(square, range(5)))

[0, 1, 4, 9, 16]

In [86]:
list(map(square,range(5)))

[0, 1, 4, 9, 16]

In [87]:
(map(square,[1,3,45,6,6,7]))

In [88]:
def first_letter(word):
    return word[0]

In [89]:
first_letter("chicken")

'c'

In [90]:
list(map(first_letter,["CS88","Data8"]))

['C', 'D']

In [91]:
square([1,4])

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
[1,2]*4

In [ ]:
a=[1,2]
a

In [ ]:
data= map(square,range(7))

In [ ]:
data

In [ ]:
for item in data:
    print(item)

In [ ]:
a=[1,2]
sum(a*4)

In [ ]:
filter

In [ ]:
[ x*4 for x in range(5) ]

In [ ]:
def even(n):
    return n%2==0

In [ ]:
even(4)

In [ ]:
even(5)

In [ ]:
list(filter(even,range(11)))

In [ ]:
[x for x in range(10) if even(x)]

In [ ]:
berk= "The University of California at Berkekeley"

In [ ]:
def important(word):
    return len(word)>3

In [ ]:
important("The")

In [ ]:
filter(important,berk)

In [ ]:
words=berk.split(" ")
words

In [ ]:
berk.join(" ")

In [ ]:
words

In [ ]:
list(filter(important,words))

In [ ]:
result= "UCB"

In [ ]:
from functools import reduce
from operator import add, mul,sub, concat

In [ ]:
concat("a","b")

In [ ]:
reduce(add,[1,2,3])

In [ ]:
reduce(concat,["a","b","c"])

In [ ]:
first_letter("Berkeley")

In [ ]:
important("at")

In [ ]:
concat("a","b")

In [ ]:
reduce(func3, filter(func2, map(func1, some_data)))

In [ ]:
words

In [ ]:
list(map(first_letter,words))

In [ ]:
list( map  (first_letter,filter(important,words)))

In [ ]:
reduce(concat, map(first_letter,filter(important,words)))

In [ ]:
letters=["a","b","c","d"]
letters

In [ ]:
s1= concat(letters[0],letters[1])
s1

In [ ]:
s2= concat(s1,letters[2])
s2

In [ ]:
reduce(concat,letters)

In [ ]:
s3= concat(s2,letters[3])
s3

In [ ]:
concat["a","b","c"]

In [ ]:
reduce(min,[10,123,45,673])

In [ ]:
#### Lambda Lecture #7

In [ ]:
inc= lambda v : v+1

In [ ]:
def inc(v):
    return v+1

In [92]:
courses

['CS88', 'Data8', 'POLSCI2', 'PHILR1B']

In [93]:
list(map(lambda x: len(x),courses))

[4, 5, 7, 7]

In [94]:
list(map(lambda x: x[0],courses))

['C', 'D', 'P', 'P']

In [95]:
first_letter= lambda x: x[0]

In [97]:
first_letter("Chicken")

'C'

In [99]:
list(map(first_letter, courses))

['C', 'D', 'P', 'P']

In [101]:
leq_marker= lambda x:lambda val : val <= x

In [103]:
leq_3= leq_marker(3)
leq_3

In [104]:
leq_3(4)

False

In [105]:
list(filter(leq_marker(4),range(10)))

[0, 1, 2, 3, 4]

In [2]:
def inc_maker(i):
    return lambda x: x+i
inc_maker(3)

inc_maker(3)(4)

map(lambda x:x*x, [1,2,3,4])

list(map(lambda x:x*x,[1,2,3,4]))

[1, 4, 9, 16]

In [1]:
point= lambda x,y :(x,y)
x= lambda point:point[0]
y= lambda point:point[1]

distance = lambda p1,p2:(x(p2)-x(p1)**2+(y(p1)**2))
origin= (0,0)
x(origin)
corner=(3,4)
print(distance(origin,corner))

3

In [4]:
def filter(lst,f):
    return [i for i in lst if f(i)==True]

In [10]:

lst=[1,3,4,5,6,7,7]

In [12]:
newlst= filter(lst, lambda x:x>3)
newlst

[4, 5, 6, 7, 7]

In [13]:
y=2
lam= lambda x:x+9
def make_eleven(arg):
    new_arg=lam(arg)
    return new_arg
make_eleven(y)

11

In [14]:
a=4
def great(a):
    a= a*3
    return lambda p:p-1
great(2)(a)

3

In [15]:
a= lambda:5
a()

5

In [16]:
a(5)

TypeError: <lambda>() takes 0 positional arguments but 1 was given

In [18]:
b= lambda:lambda x:3
b()(15)

3

In [19]:
c= lambda x,y:x+y
c(4,5)

9

In [20]:
d= lambda x: lambda y:x*y
d(3)

In [21]:
d(3)(3)

9

In [22]:
e=d(2)
e((5))

10

In [23]:
f= lambda:print(1)

In [24]:
g=f()

1

In [27]:
f1= lambda:print(3)
f1()

3

In [29]:
f2= lambda:lambda:3
f2()()

3

In [34]:
f3= lambda:lambda x:3
f3()(3)

3

In [45]:
f4= lambda:lambda:lambda x:lambda:x
f4()()(3)()

3

In [46]:
lambda x:x

In [47]:
a= lambda x:x
a(5)

5

In [48]:
(lambda:3)()

3

In [49]:
b= lambda x: lambda:x
c=b(88)
c

In [50]:
c()

88

In [52]:
d= lambda f:f(4)
def square(x):
    return x*x
d(square)

16

In [55]:
z=3
e= lambda x:lambda y: lambda: x+y+z
e(0)(1)()

4

In [54]:
f= lambda z:x+z
f(3)

TypeError: unsupported operand type(s) for +: 'function' and 'int'

In [1]:
range(100)

range(0, 100)

In [2]:
a=[1,5,4,[2,3],3]

In [3]:
print(a[0],a[-1])

1 3

In [4]:
len(a)

5

In [5]:
2 in a

False

In [6]:
4 in a

True

In [7]:
a[3][0]

2

In [8]:
print(print("tony"))

tony
None

In [9]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [10]:
b=a
a

[1, 2, 3, 4]

In [12]:
a[1]=5
b

[1, 5, 3, 4]

In [17]:
b=a[-2:]

In [18]:
b

[3, 4]

In [19]:
b=a[:]

In [20]:
t=[1,[2,[3]],[4,5]]
t.append(t[:])

In [21]:
t

[1, [2, [3]], [4, 5], [1, [2, [3]], [4, 5]]]

In [32]:
t=[1,2,3]
t[1:3]=[t]
t.extend(t)
t

[1, [...], 1, [...]]

In [25]:
t=[[1,2],[3,4]]
t[0].append(t[1:2])

In [26]:
t

[[1, 2, [[3, 4]]], [3, 4]]

In [34]:
[i for i in range(100)if (i%2==0)]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
#Recusion

In [9]:
def i_factorial(n):
    result= 1
    for i in range(1,n+1):
        result= result *i
    return result

In [10]:
 i_factorial(3)

6

In [11]:
 i_factorial(8)

40320

In [1]:
def r_factorial(n):
    if n==0:
        return 1
    else:
        return n*r_factorial(n-1)

In [2]:
r_factorial(8)

40320

In [15]:

#for loop:
def sum(n):
    s=0
    for i in range (0,n+1):
        s=s+i
    return s

In [19]:
sum(10)

55

In [20]:
###while loop:
def sum(n):
    s=0
    i=0
    while i<n:
        i=i+1
        s=s+i
    return s

In [21]:
## recursion 
def sum(n):
    if n==0:
        return 0
    return n+sum(n-1)

In [22]:
def sum(n):
    return (n*(n+1))/2

In [23]:
sum(8)

36.0

In [24]:
def sum_of_squares(n):
    accum=0
    for i in range(1,n+1):
        accum= accum +i*i
    return accum

In [27]:
sum_of_squares(3)

14

In [10]:
def sum_of_squares(n):
    if n<1:
        return 0
    else:
        return sum_of_squares(n-1)+n**2

In [16]:
 sum_of_squares(5)

55

In [30]:
##sum_of_sqaures(3)
##sum_of_squares(3)===> sum_of_squares(2)+3**2
##===> sum_of_sqaures(1)+2**2+3**2
##===>sum_of_sqaures(0)+1**2+3**2+3**2
##===>0+1**2+2**2+3**2=14

In [2]:
####Recursion 2


def countdown(n):
    if n == 0:
        print('Blastoff!')
    else:
        countdown(n - 1)
        print(n)

In [3]:
countdown(6)

Blastoff!
1
2
3
4
5
6

In [19]:
def longest_word(lst):
    """
    >>> longest_word(['hello', 'goodbye'])
    'goodbye'
    >>> longest_word(['a', 'bb', 'abcdef'])
    'abcdef'
    """
    longer = lambda x, y: x if len(x) > len(y) else y
    if len(lst) == 1:
        return lst[0]
    return longer ((lst[len(lst) - 1], longest_word(lst[: len(lst) - 1]))

SyntaxError: unexpected EOF while parsing (<ipython-input-19-94a91217a728>, line 13)

In [4]:
#### Factorial formula x=x*(x-1)

SyntaxError: invalid syntax (<ipython-input-4-d71aa03aac5d>, line 1)

In [5]:
def factorial(x):
    if x==0:
        return 1
    return x *factorial(x-1)

In [6]:
factorial(4)

24

In [7]:
def foo(x,y):
    foo=bar
    return foo(bar(x,x),y)
def bar(z,x):
    return z+y
y=5
foo(1,2)

11

In [8]:
a=[1,5,4,[2,3],3]
print(a[0],a[-1])

1 3

In [10]:
len(a)

5

In [11]:
2 in a

False

In [14]:
4 in a

True

In [13]:
a[3][0]

2

In [22]:
def and_add(f,n):
    def g(x):
        return f(x)+n
    return g

In [23]:
new_square=and_add(square,3)
new_square(4)

19

In [39]:
def sum(n):
    """Using recursion, computes the sum of all integers between 1 and n, inclusive.
    Assume n is positive.

    >>> sum(1)
    1
    >>> sum(5)  # 1 + 2 + 3 + 4 + 5
    15
    """
    "*** YOUR CODE HERE ***"
    if n==0:
        return 0
    return n +sum(n-1)

In [42]:
sum(5)

15

In [1]:
def decimal(n):
    if n<0:
        return ["-"]+decimal(-1*n)
    if n<10:
        return [n]
    return decimal(n//10)+[n%10]

In [3]:
decimal(55055)*2

[5, 5, 0, 5, 5, 5, 5, 0, 5, 5]

In [18]:
decimal(-136)

['-', 1, 3, 6]

In [51]:
def has_seven(k):
    if k%10==7:
        return True
    elif k>10:
        return has_seven(k//10)
    else:
        return False

In [52]:
has_seven(7777)

True

In [53]:
has_seven(2634)

False

In [4]:
["a"]*3

['a', 'a', 'a']

In [5]:
(['a', 'b', 'c'], 2)

(['a', 'b', 'c'], 2)