In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [7]:
names = ['Toyota Prius', 'Leaf', 'Id4']
vehicle_ranges = [250, 200,100]
vehicle_rental_prices = [95, 85, 75]

In [2]:
names                 = ["Model 3 ","Mach-E" , "e-c4","ioniq 5","leaf"]
vehicle_ranges        = [380            ,250      ,200 ,350,200  ]
vehicle_rental_prices = [785            ,785      ,780 ,770,85]

In [5]:
1000//380

2

In [7]:
1000/380

2.6315789473684212

In [8]:
1000/350

2.857142857142857

In [9]:
1000/250

4.0

In [10]:
import math
def roundup(x):
    return int(math.ceil(x / 10.0)) * 10

def function1(n):
    return 1000/n 

output_list = list(map(function1,vehicle_ranges))
output_list

[2.6315789473684212, 4.0, 5.0, 2.857142857142857, 5.0]

In [11]:
list1 = vehicle_rental_prices
list2 = output_list
products = []
print(list1)
print(list2)
print(products)

[785, 785, 780, 770, 85]
[2.6315789473684212, 4.0, 5.0, 2.857142857142857, 5.0]
[]

In [30]:
import math
def roundup(x):
    return int(math.ceil(x / 10.0)) * 10
final_list = [element * 5 for element in list2]

new_array1 = []
for i in range(len(final_list)):
    (new_array1.append(roundup((list1[i] + final_list[i] ))))
new_array1

[800, 810, 810, 790, 110]

In [26]:
my_formatted_list = ([ '%.2f' % elem for elem in new_array1 ])
my_formatted_list

['800.00', '810.00', '810.00', '790.00', '110.00']

In [33]:
Vehicle_names = names
Cost = ([ '%.2f' % elem for elem in new_array1 ])
new_dict2 = {i:[j] for i, j in zip(Vehicle_names, Cost)}
print(new_dict2)
wh2h2h222 = (min(new_dict2, key = new_dict2.get))
bwbwww = (new_dict2).get(wh2h2h222)
rounded_Value = (bwbwww[0])
print("The least expensive vechile is the",wh2h2h222, "which will cost$",rounded_Value,"to take on the trip.")

{'Model 3 ': ['800.00'], 'Mach-E': ['810.00'], 'e-c4': ['810.00'], 'ioniq 5': ['790.00'], 'leaf': ['110.00']}
The least expensive vechile is the leaf which will cost$ 110.00 to take on the trip.

In [67]:
for num1, num2 in zip(list1, list2):
    products.append(((num1 + (num2*5))))  
print(products)

[115, 110, 125]

In [40]:
list1

[95, 85, 75]

In [45]:
final_list = [element * 5 for element in list2]
final_list

[20, 25, 50]

In [68]:
final_list + list1

[20, 25, 50, 95, 85, 75]

In [63]:
new_array = []
for x in (final_list):
    for y in (list1):
        new_array.append(x + y)
        print(y)
    print("printing," ,x)    
new_array

95
85
75
printing, 20
95
85
75
printing, 25
95
85
75
printing, 50

[115, 105, 95, 120, 110, 100, 145, 135, 125]

In [75]:
new_array1 = []
for i in range(len(final_list)):
    new_array1.append(list1[i] + final_list[i] )
    print(i)
new_array1

0
1
2

[115, 110, 125]

## Lecture 6

## Table Review: Welcome Survey

In [ ]:
welcome = Table.read_table('welcome_survey_v1.csv')
welcome.show(5)

In [ ]:
# On average, how long do side-sleepers sleep?
side_sleepers = welcome.where('Sleep position', are.containing('side'))
np.average(side_sleepers.column('Hours of sleep'))

In [ ]:
# How many students get at least 8 hours of sleep each night (on average)?
# First way:
welcome.where('Hours of sleep', are.above_or_equal_to(8)).num_rows

In [ ]:
# Second way
np.count_nonzero(welcome.column('Hours of sleep') >= 8)

In [ ]:
# Third way
np.sum(welcome.column('Hours of sleep') >= 8)

In [ ]:
# Create a table with only the two sleep-related columns, 
# with names 'Hours' and 'Position'
two_col = welcome.select('Hours of sleep', 'Sleep position')
sleep = two_col.relabeled(0, 'Hours').relabeled(1, 'Position')
sleep.show(3)

In [ ]:
# Second way
two_col = welcome.drop('Handedness', 'Extraversion', 'Pant leg')
sleep = two_col.relabeled(0, 'Hours').relabeled(1, 'Position')
sleep.show(3)

## Discussion Question: NBA Salaries

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba = nba.relabeled(3, 'SALARY').drop('TEAM')
nba.show(3)

In [ ]:
# Question (a)
guards = nba.where('POSITION', 'PG')
guards.where('SALARY', are.above(15)).column('PLAYER')

In [ ]:
# Question (b)
nba.drop('POSITION')
nba.num_columns

## Census ##

In [ ]:
full = Table.read_table('nc-est2014-agesex-res.csv')
full

In [ ]:
partial = full.select('SEX', 'AGE', 'CENSUS2010POP', 'POPESTIMATE2014')
partial.show(4)

In [ ]:
simple = partial.relabeled(2, '2010').relabeled(3, '2014')
simple.show(4)

In [ ]:
simple.sort('AGE')

In [ ]:
simple.sort('AGE', descending=True)

## Visualization ##

In [ ]:
no_999 = simple.where('AGE', are.below(999))
everyone = no_999.where('SEX', 0).drop('SEX')

In [ ]:
everyone

In [ ]:
everyone.plot('AGE', '2010')