In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 6

In [ ]:
my_array = make_array(3, 4, 5, 6)
my_array

In [ ]:
bigger_than_three = my_array > 3
bigger_than_three

In [ ]:
np.count_nonzero(bigger_than_three)

In [ ]:
np.sum(bigger_than_three)

## Table review: welcome survey

In [ ]:
welcome = Table.read_table('welcome_survey_v1.csv')
welcome.show(5)

In [ ]:
# Why did we leave out some of the questions?
# Why did we leave out some of the students?

In [ ]:
# On average, how long do side-sleepers sleep?

In [ ]:
# How many students get at least 8 hours of sleep each night (on average)?

In [ ]:
# Create a table with only the two sleep-related columns, 
# with names 'Hours' and 'Position'

In [ ]:
# On average, how long do side-sleepers sleep?
side_sleepers = welcome.where('Sleep position', are.containing('side'))
np.average(side_sleepers.column('Hours of sleep'))

In [ ]:
# How many students get at least 8 hours of sleep each night (on average)?
# First way:
welcome.where('Hours of sleep', are.above_or_equal_to(8)).num_rows

In [ ]:
# Second way
np.count_nonzero(welcome.column('Hours of sleep') >= 8)

In [ ]:
# Third way
np.sum(welcome.column('Hours of sleep') >= 8)

In [ ]:
# Create a table with only the two sleep-related columns, 
# with names 'Hours' and 'Position'
two_col = welcome.select('Hours of sleep', 'Sleep position')
sleep = two_col.relabeled(0, 'Hours').relabeled(1, 'Position')
sleep.show(3)

In [ ]:
# Second way
two_col = welcome.drop('Handedness', 'Extraversion', 'Pant leg')
sleep = two_col.relabeled(0, 'Hours').relabeled(1, 'Position')
sleep.show(3)

## Discussion question: NBA salaries

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba = nba.relabeled(3, 'SALARY').drop('TEAM')
nba.show(3)

In [ ]:
nba.where('SALARY', are.above(15)).where('POSITION', 'PG').column('PLAYER')

In [ ]:
nba.drop('POSITION')
nba.num_columns

In [ ]:
nba.take(0)

In [ ]:
nba.take(np.arange(0))

## Census ##

In [ ]:
full = Table.read_table('nc-est2014-agesex-res.csv')
full

In [ ]:
partial = full.select('SEX', 'AGE', 'CENSUS2010POP', 'POPESTIMATE2014')
partial.show(4)

In [ ]:
simple = partial.relabeled(2, '2010').relabeled(3, '2014')
simple.show(4)

In [ ]:
simple.sort('AGE')

In [ ]:
simple.sort('AGE', descending=True)

## Visualization ##

In [ ]:
no_999 = simple.where('AGE', are.below(999))
everyone = no_999.where('SEX', 0).drop('SEX')

In [ ]:
everyone

In [ ]:
everyone.plot('AGE', '2010')