In [2]:
import numpy as np
import pandas as pd
import seaborn as sns


import matplotlib.pyplot as plt
#import pandas_profiling

In [3]:
iris_df = pd.read_csv("Iris.csv")
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris_df_1 = sns.load_dataset("iris")
iris_df_1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
sns.set_theme(style='darkgrid')

In [25]:
iris_grid = sns.PairGrid(iris_df_1, hue = 'species')
iris_grid.map_lower(sns.scatterplot)
iris_grid.map_upper(sns.kdeplot, fill = True, alpha = 0.5)
iris_grid.map_diag(sns.kdeplot, fill = True)
iris_grid.add_legend(title="Species", label_order=["setosa", "versicolor", "virginica"], loc="upper right")

In [ ]:
plt.scatter()