## Question 3

1. Open the example_invoice.txt attached in this email to find an invoice that contains wearers and the garments they are getting
2. We want this data in csv format with the following columns
   
   a. wearer_number: This is the number at the beginning of each line
   
   b. wearer_first: This is the first name of the wearer
   
   c. wearer_last:This is the last name of the wearer (ignore all middle names/initials)
   
   d. item_code:the item code starts with GS/GP/GO and has 4 digits after (ie GS0007)
   
   e. Item_description: either “SHIRT WORK LS, SHIRT WORK SS, COVERALL GAS CO COTTON, or PANT WORK TWILL.“
   
   f. Cost: this is the total cost of the garment, located at the end of each line
   
3.Given the data in the .txt file, export the relevant data to csv (maybe use regex?)

In [30]:
import pandas as pd
import re

file_path = "example_invoice.txt"
df = pd.read_csv(file_path) 
(df.head())

  24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98
0  25Gilberto Morena RodriguezGO0789POBLCOVERALL ...
1  25Gilberto Morena RodriguezGP0002NAVYPANT WORK...
2  25Gilberto Morena RodriguezGS0019LTBLSHIRT WOR...
3  26Raul RamirezGO0789POBLCOVERALL GAS CO COTTON...
4  26Raul RamirezGP0002NAVYPANT WORK TWILL 65/353...

In [31]:
df.columns

Index(['24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98  '], dtype='object')

In [3]:
df["24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98  "][0]

'25Gilberto Morena RodriguezGO0789POBLCOVERALL GAS CO COTTON52LRent12.89'

In [4]:
df["24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98  "][2]

'25Gilberto Morena RodriguezGS0019LTBLSHIRT WORK SS 65/352XLLRent19.05  '

In [32]:
# Open a file
with open('example_invoice.txt', 'r') as file:
    # Read in all the lines
    lines = file.readlines()

# for loop to go through the,
for line in lines:
    print(line.strip())  # to stop the whitespace I noticed

24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98
25Gilberto Morena RodriguezGO0789POBLCOVERALL GAS CO COTTON52LRent12.89
25Gilberto Morena RodriguezGP0002NAVYPANT WORK TWILL 65/3544X32Rent21.45
25Gilberto Morena RodriguezGS0019LTBLSHIRT WORK SS 65/352XLLRent19.05
26Raul RamirezGO0789POBLCOVERALL GAS CO COTTON42RRent12.09
26Raul RamirezGP0002NAVYPANT WORK TWILL 65/3536X30Rent11.07
26Raul RamirezGS0007LTBLSHIRT WORK LS 65/35LGERPurchase11.58
29John O'ReillyGO0789POBLCOVERALL GAS CO COTTON46RWash21.04
29John O'ReillyGP0002NAVYPANT WORK TWILL 65/3536X32Rent21.67
29John O'ReillyGS0007LTBLSHIRT WORK LS 65/35LGERRent1.30
29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent8.90
29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent90.39
30Guillermo MelendreGO0789POBLCOVERALL GAS CO COTTON48RRent81.04
30Guillermo MelendreGP0002NAVYPANT WORK TWILL 65/3538X30Rent1.67
30Guillermo MelendreGS0007LTBLSHIRT WORK LS 65/35LGERRent10.65
30Guillermo MelendreGS0019LTBLSHIRT WORK SS 65/35LGERWash90.77
31Roger J UribeGO0789POBLCOVERALL GAS CO COTTON48RRent181.04
31Roger J UribeGP0002NAVYPANT WORK TWILL 65/3538X30Rent521.67
31Roger J UribeGS0007LTBLSHIRT WORK LS 65/35LGERRent1.43
32Tyrone WorthenGO0789POBLCOVERALL GAS CO COTTON44LRent81.04
32Tyrone WorthenGP0002NAVYPANT WORK TWILL 65/3534X32Rent21.67
32Tyrone WorthenGS0007LTBLSHIRT WORK LS 65/35MEDRSales8.65
32Tyrone WorthenGS0019LTBLSHIRT WORK SS 65/35MEDRRent90.77
33Misael De la MejivarGO0789POBLCOVERALL GAS CO COTTON50RRent81.04

In [33]:
lines

['24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98  \n',
 '25Gilberto Morena RodriguezGO0789POBLCOVERALL GAS CO COTTON52LRent12.89\n',
 '25Gilberto Morena RodriguezGP0002NAVYPANT WORK TWILL 65/3544X32Rent21.45 \n',
 '25Gilberto Morena RodriguezGS0019LTBLSHIRT WORK SS 65/352XLLRent19.05  \n',
 '26Raul RamirezGO0789POBLCOVERALL GAS CO COTTON42RRent12.09   \n',
 '26Raul RamirezGP0002NAVYPANT WORK TWILL 65/3536X30Rent11.07 \n',
 '26Raul RamirezGS0007LTBLSHIRT WORK LS 65/35LGERPurchase11.58 \n',
 "29John O'ReillyGO0789POBLCOVERALL GAS CO COTTON46RWash21.04  \n",
 "29John O'ReillyGP0002NAVYPANT WORK TWILL 65/3536X32Rent21.67  \n",
 "29John O'ReillyGS0007LTBLSHIRT WORK LS 65/35LGERRent1.30   \n",
 "29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent8.90   \n",
 "29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent90.39  \n",
 '30Guillermo MelendreGO0789POBLCOVERALL GAS CO COTTON48RRent81.04  \n',
 '30Guillermo MelendreGP0002NAVYPANT WORK TWILL 65/3538X30Rent1.67 \n',
 '30Guillermo MelendreGS0007LTBLSHIRT WORK LS 65/35LGERRent10.65  \n',
 '30Guillermo MelendreGS0019LTBLSHIRT WORK SS 65/35LGERWash90.77  \n',
 '31Roger J UribeGO0789POBLCOVERALL GAS CO COTTON48RRent181.04  \n',
 '31Roger J UribeGP0002NAVYPANT WORK TWILL 65/3538X30Rent521.67 \n',
 '31Roger J UribeGS0007LTBLSHIRT WORK LS 65/35LGERRent1.43  \n',
 '32Tyrone WorthenGO0789POBLCOVERALL GAS CO COTTON44LRent81.04  \n',
 '32Tyrone WorthenGP0002NAVYPANT WORK TWILL 65/3534X32Rent21.67  \n',
 '32Tyrone WorthenGS0007LTBLSHIRT WORK LS 65/35MEDRSales8.65  \n',
 '32Tyrone WorthenGS0019LTBLSHIRT WORK SS 65/35MEDRRent90.77  \n',
 '33Misael De la MejivarGO0789POBLCOVERALL GAS CO COTTON50RRent81.04  ']

In [34]:
# Open file
with open('example_invoice.txt', 'r') as file:
    # Read all lines from the file and store them in a list
    lines = [line.rstrip() for line in file]

for line in lines:
    print(line)  #  there is this new line character which is \n I am getting rid of

24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98
25Gilberto Morena RodriguezGO0789POBLCOVERALL GAS CO COTTON52LRent12.89
25Gilberto Morena RodriguezGP0002NAVYPANT WORK TWILL 65/3544X32Rent21.45
25Gilberto Morena RodriguezGS0019LTBLSHIRT WORK SS 65/352XLLRent19.05
26Raul RamirezGO0789POBLCOVERALL GAS CO COTTON42RRent12.09
26Raul RamirezGP0002NAVYPANT WORK TWILL 65/3536X30Rent11.07
26Raul RamirezGS0007LTBLSHIRT WORK LS 65/35LGERPurchase11.58
29John O'ReillyGO0789POBLCOVERALL GAS CO COTTON46RWash21.04
29John O'ReillyGP0002NAVYPANT WORK TWILL 65/3536X32Rent21.67
29John O'ReillyGS0007LTBLSHIRT WORK LS 65/35LGERRent1.30
29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent8.90
29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent90.39
30Guillermo MelendreGO0789POBLCOVERALL GAS CO COTTON48RRent81.04
30Guillermo MelendreGP0002NAVYPANT WORK TWILL 65/3538X30Rent1.67
30Guillermo MelendreGS0007LTBLSHIRT WORK LS 65/35LGERRent10.65
30Guillermo MelendreGS0019LTBLSHIRT WORK SS 65/35LGERWash90.77
31Roger J UribeGO0789POBLCOVERALL GAS CO COTTON48RRent181.04
31Roger J UribeGP0002NAVYPANT WORK TWILL 65/3538X30Rent521.67
31Roger J UribeGS0007LTBLSHIRT WORK LS 65/35LGERRent1.43
32Tyrone WorthenGO0789POBLCOVERALL GAS CO COTTON44LRent81.04
32Tyrone WorthenGP0002NAVYPANT WORK TWILL 65/3534X32Rent21.67
32Tyrone WorthenGS0007LTBLSHIRT WORK LS 65/35MEDRSales8.65
32Tyrone WorthenGS0019LTBLSHIRT WORK SS 65/35MEDRRent90.77
33Misael De la MejivarGO0789POBLCOVERALL GAS CO COTTON50RRent81.04

In [35]:
lines

['24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98',
 '25Gilberto Morena RodriguezGO0789POBLCOVERALL GAS CO COTTON52LRent12.89',
 '25Gilberto Morena RodriguezGP0002NAVYPANT WORK TWILL 65/3544X32Rent21.45',
 '25Gilberto Morena RodriguezGS0019LTBLSHIRT WORK SS 65/352XLLRent19.05',
 '26Raul RamirezGO0789POBLCOVERALL GAS CO COTTON42RRent12.09',
 '26Raul RamirezGP0002NAVYPANT WORK TWILL 65/3536X30Rent11.07',
 '26Raul RamirezGS0007LTBLSHIRT WORK LS 65/35LGERPurchase11.58',
 "29John O'ReillyGO0789POBLCOVERALL GAS CO COTTON46RWash21.04",
 "29John O'ReillyGP0002NAVYPANT WORK TWILL 65/3536X32Rent21.67",
 "29John O'ReillyGS0007LTBLSHIRT WORK LS 65/35LGERRent1.30",
 "29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent8.90",
 "29John O'ReillyGS0019LTBLSHIRT WORK SS 65/35LGERRent90.39",
 '30Guillermo MelendreGO0789POBLCOVERALL GAS CO COTTON48RRent81.04',
 '30Guillermo MelendreGP0002NAVYPANT WORK TWILL 65/3538X30Rent1.67',
 '30Guillermo MelendreGS0007LTBLSHIRT WORK LS 65/35LGERRent10.65',
 '30Guillermo MelendreGS0019LTBLSHIRT WORK SS 65/35LGERWash90.77',
 '31Roger J UribeGO0789POBLCOVERALL GAS CO COTTON48RRent181.04',
 '31Roger J UribeGP0002NAVYPANT WORK TWILL 65/3538X30Rent521.67',
 '31Roger J UribeGS0007LTBLSHIRT WORK LS 65/35LGERRent1.43',
 '32Tyrone WorthenGO0789POBLCOVERALL GAS CO COTTON44LRent81.04',
 '32Tyrone WorthenGP0002NAVYPANT WORK TWILL 65/3534X32Rent21.67',
 '32Tyrone WorthenGS0007LTBLSHIRT WORK LS 65/35MEDRSales8.65',
 '32Tyrone WorthenGS0019LTBLSHIRT WORK SS 65/35MEDRRent90.77',
 '33Misael De la MejivarGO0789POBLCOVERALL GAS CO COTTON50RRent81.04']

In [36]:
lines[0]

'24Joe SolisGS0007LTBLSHIRT WORK LS 65/351XLRSales1.98'

In [37]:
## Same code as above, but this time I am doing it an mass level, to test against the entire thing.

def parse_line(line):
    match = re.match(r'^(\d+)([A-Za-z ]+)', line)
    if match:
        wearer_number = match.group(1)
        wearer_name = match.group(2).strip()
        wearer_first = re.findall(r'[A-Za-z]+', wearer_name)[0]
        wearer_last = re.findall(r'[A-Za-z]+', wearer_name)[-1]
        wearer_last = re.sub(r'(GS|GO|GP)', '', wearer_last)
    item_info = re.findall(r'(GS|GO|GP)(\d{4})(.*?)\s*(\d+\.\d+)', line)
    
    output = []
    for item in item_info:
        item_code = item[0] + item[1]  # Concatenating code and digits
        item_description = re.findall(r'SHIRT WORK LS|SHIRT WORK SS|COVERALL GAS CO COTTON|PANT WORK TWILL', item[2])[0]
        cost = item[3]
        output.append([wearer_number, wearer_first, wearer_last, item_code, item_description, cost])
    return output



# Parsing each line and printing the output --> this just printing out output.
for line in lines:
    output = parse_line(line)
    if output:
        for entry in output:
            print(",".join(entry))

24,Joe,Solis,GS0007,SHIRT WORK LS,1.98
25,Gilberto,Rodriguez,GO0789,COVERALL GAS CO COTTON,12.89
25,Gilberto,Rodriguez,GP0002,PANT WORK TWILL,21.45
25,Gilberto,Rodriguez,GS0019,SHIRT WORK SS,19.05
26,Raul,Ramirez,GO0789,COVERALL GAS CO COTTON,12.09
26,Raul,Ramirez,GP0002,PANT WORK TWILL,11.07
26,Raul,Ramirez,GS0007,SHIRT WORK LS,11.58
29,John,O,GO0789,COVERALL GAS CO COTTON,21.04
29,John,O,GP0002,PANT WORK TWILL,21.67
29,John,O,GS0007,SHIRT WORK LS,1.30
29,John,O,GS0019,SHIRT WORK SS,8.90
29,John,O,GS0019,SHIRT WORK SS,90.39
30,Guillermo,Melendre,GO0789,COVERALL GAS CO COTTON,81.04
30,Guillermo,Melendre,GP0002,PANT WORK TWILL,1.67
30,Guillermo,Melendre,GS0007,SHIRT WORK LS,10.65
30,Guillermo,Melendre,GS0019,SHIRT WORK SS,90.77
31,Roger,Uribe,GO0789,COVERALL GAS CO COTTON,181.04
31,Roger,Uribe,GP0002,PANT WORK TWILL,521.67
31,Roger,Uribe,GS0007,SHIRT WORK LS,1.43
32,Tyrone,Worthen,GO0789,COVERALL GAS CO COTTON,81.04
32,Tyrone,Worthen,GP0002,PANT WORK TWILL,21.67
32,Tyrone,Worthen,GS0007,SHIRT WORK LS,8.65
32,Tyrone,Worthen,GS0019,SHIRT WORK SS,90.77
33,Misael,Mejivar,GO0789,COVERALL GAS CO COTTON,81.04

In [38]:
def parse_line(line):
    match = re.match(r'^(\d+)([A-Za-z ]+)', line)
    if match:
        wearer_number = match.group(1)
        wearer_name = match.group(2).strip()
        wearer_first = re.findall(r'[A-Za-z]+', wearer_name)[0]
        wearer_last = re.findall(r'[A-Za-z]+', wearer_name)[-1]
        wearer_last = re.sub(r'(GS|GO|GP)', '', wearer_last)
    item_info = re.findall(r'(GS|GO|GP)(\d{4})(.*?)\s*(\d+\.\d+)', line)
    
    output = []
    for item in item_info:
        item_code = item[0] + item[1] 
        item_description = re.findall(r'SHIRT WORK LS|SHIRT WORK SS|COVERALL GAS CO COTTON|PANT WORK TWILL', item[2])[0]
        cost = item[3]
        output.append([wearer_number, wearer_first, wearer_last, item_code, item_description, cost])
    return output

data = []
for line in lines:
    output = parse_line(line)
    if output:
        data.extend(output)
        
df = pd.DataFrame(data, columns=['wearer_number', 'wearer_first', 'wearer_last', 'item_code', 'item_description', 'cost'])
df

,wearer_number,wearer_first,wearer_last,item_code,item_description,cost
0,24,Joe,Solis,GS0007,SHIRT WORK LS,1.98
1,25,Gilberto,Rodriguez,GO0789,COVERALL GAS CO COTTON,12.89
2,25,Gilberto,Rodriguez,GP0002,PANT WORK TWILL,21.45
3,25,Gilberto,Rodriguez,GS0019,SHIRT WORK SS,19.05
4,26,Raul,Ramirez,GO0789,COVERALL GAS CO COTTON,12.09
5,26,Raul,Ramirez,GP0002,PANT WORK TWILL,11.07
6,26,Raul,Ramirez,GS0007,SHIRT WORK LS,11.58
7,29,John,O,GO0789,COVERALL GAS CO COTTON,21.04
8,29,John,O,GP0002,PANT WORK TWILL,21.67
9,29,John,O,GS0007,SHIRT WORK LS,1.30
10,29,John,O,GS0019,SHIRT WORK SS,8.90
11,29,John,O,GS0019,SHIRT WORK SS,90.39
12,30,Guillermo,Melendre,GO0789,COVERALL GAS CO COTTON,81.04
13,30,Guillermo,Melendre,GP0002,PANT WORK TWILL,1.67
14,30,Guillermo,Melendre,GS0007,SHIRT WORK LS,10.65
15,30,Guillermo,Melendre,GS0019,SHIRT WORK SS,90.77
16,31,Roger,Uribe,GO0789,COVERALL GAS CO COTTON,181.04
17,31,Roger,Uribe,GP0002,PANT WORK TWILL,521.67
18,31,Roger,Uribe,GS0007,SHIRT WORK LS,1.43
19,32,Tyrone,Worthen,GO0789,COVERALL GAS CO COTTON,81.04
20,32,Tyrone,Worthen,GP0002,PANT WORK TWILL,21.67
21,32,Tyrone,Worthen,GS0007,SHIRT WORK LS,8.65
22,32,Tyrone,Worthen,GS0019,SHIRT WORK SS,90.77
23,33,Misael,Mejivar,GO0789,COVERALL GAS CO COTTON,81.04

In [28]:

def parse_line(line):
    match = re.match(r'^(\d+)([A-Za-z\' ]+)(GS|GO|GP)', line)  
    if match:
        wearer_number = match.group(1)
        wearer_name = match.group(2).strip()
        wearer_first, wearer_last = wearer_name.rsplit(' ', 1) 
        item_code = match.group(3)  # Extract item code
        item_info = re.findall(r'(GS|GO|GP)(\d{4})(.*?)\s*(\d+\.\d+)', line)
        output = []
        for item in item_info:
            item_description = re.findall(r'SHIRT WORK LS|SHIRT WORK SS|COVERALL GAS CO COTTON|PANT WORK TWILL', item[2])[0]
            cost = item[3]
            output.append([wearer_number, wearer_first, wearer_last, item_code + item[1], item_description, cost])
        return output
    else:
        return None

data = []
for line in lines:
    output = parse_line(line)
    if output:
        data.extend(output)

df = pd.DataFrame(data, columns=['wearer_number', 'wearer_first', 'wearer_last', 'item_code', 'item_description', 'cost'])

df

,wearer_number,wearer_first,wearer_last,item_code,item_description,cost
0,24,Joe,Solis,GS0007,SHIRT WORK LS,1.98
1,25,Gilberto Morena,Rodriguez,GO0789,COVERALL GAS CO COTTON,12.89
2,25,Gilberto Morena,Rodriguez,GP0002,PANT WORK TWILL,21.45
3,25,Gilberto Morena,Rodriguez,GS0019,SHIRT WORK SS,19.05
4,26,Raul,Ramirez,GO0789,COVERALL GAS CO COTTON,12.09
5,26,Raul,Ramirez,GP0002,PANT WORK TWILL,11.07
6,26,Raul,Ramirez,GS0007,SHIRT WORK LS,11.58
7,29,John,O'Reilly,GO0789,COVERALL GAS CO COTTON,21.04
8,29,John,O'Reilly,GP0002,PANT WORK TWILL,21.67
9,29,John,O'Reilly,GS0007,SHIRT WORK LS,1.30
10,29,John,O'Reilly,GS0019,SHIRT WORK SS,8.90
11,29,John,O'Reilly,GS0019,SHIRT WORK SS,90.39
12,30,Guillermo,Melendre,GO0789,COVERALL GAS CO COTTON,81.04
13,30,Guillermo,Melendre,GP0002,PANT WORK TWILL,1.67
14,30,Guillermo,Melendre,GS0007,SHIRT WORK LS,10.65
15,30,Guillermo,Melendre,GS0019,SHIRT WORK SS,90.77
16,31,Roger J,Uribe,GO0789,COVERALL GAS CO COTTON,181.04
17,31,Roger J,Uribe,GP0002,PANT WORK TWILL,521.67
18,31,Roger J,Uribe,GS0007,SHIRT WORK LS,1.43
19,32,Tyrone,Worthen,GO0789,COVERALL GAS CO COTTON,81.04
20,32,Tyrone,Worthen,GP0002,PANT WORK TWILL,21.67
21,32,Tyrone,Worthen,GS0007,SHIRT WORK LS,8.65
22,32,Tyrone,Worthen,GS0019,SHIRT WORK SS,90.77
23,33,Misael De la,Mejivar,GO0789,COVERALL GAS CO COTTON,81.04

In [29]:
# Split the wearer_first column and take only the first part
df['wearer_first'] = df['wearer_first'].str.split().str[0]

df

,wearer_number,wearer_first,wearer_last,item_code,item_description,cost
0,24,Joe,Solis,GS0007,SHIRT WORK LS,1.98
1,25,Gilberto,Rodriguez,GO0789,COVERALL GAS CO COTTON,12.89
2,25,Gilberto,Rodriguez,GP0002,PANT WORK TWILL,21.45
3,25,Gilberto,Rodriguez,GS0019,SHIRT WORK SS,19.05
4,26,Raul,Ramirez,GO0789,COVERALL GAS CO COTTON,12.09
5,26,Raul,Ramirez,GP0002,PANT WORK TWILL,11.07
6,26,Raul,Ramirez,GS0007,SHIRT WORK LS,11.58
7,29,John,O'Reilly,GO0789,COVERALL GAS CO COTTON,21.04
8,29,John,O'Reilly,GP0002,PANT WORK TWILL,21.67
9,29,John,O'Reilly,GS0007,SHIRT WORK LS,1.30
10,29,John,O'Reilly,GS0019,SHIRT WORK SS,8.90
11,29,John,O'Reilly,GS0019,SHIRT WORK SS,90.39
12,30,Guillermo,Melendre,GO0789,COVERALL GAS CO COTTON,81.04
13,30,Guillermo,Melendre,GP0002,PANT WORK TWILL,1.67
14,30,Guillermo,Melendre,GS0007,SHIRT WORK LS,10.65
15,30,Guillermo,Melendre,GS0019,SHIRT WORK SS,90.77
16,31,Roger,Uribe,GO0789,COVERALL GAS CO COTTON,181.04
17,31,Roger,Uribe,GP0002,PANT WORK TWILL,521.67
18,31,Roger,Uribe,GS0007,SHIRT WORK LS,1.43
19,32,Tyrone,Worthen,GO0789,COVERALL GAS CO COTTON,81.04
20,32,Tyrone,Worthen,GP0002,PANT WORK TWILL,21.67
21,32,Tyrone,Worthen,GS0007,SHIRT WORK LS,8.65
22,32,Tyrone,Worthen,GS0019,SHIRT WORK SS,90.77
23,33,Misael,Mejivar,GO0789,COVERALL GAS CO COTTON,81.04